.board-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.board-background {
  max-width: 100%;
  max-height: 100%;
}

.player-avatar {
  pointer-events: none;
}

.board-cell-number {
  pointer-events: none;
}

